<div class="posts">
  {{#each post as |post|}}
  <article class="card">
    <div class="card-header flex-row justify-space-between">
      <h2>
        <a href="api/posts/{{post.post_id}}">{{post.title}}</a>
      </h2>
    </div>
    <div>
      Posted by {{User.username}} on {{date_created}};
    </div>
  </article>
  {{/each}}
</div>